<div id="user-session">
  <% if current_user %>
    You are logged in as <%= link_to current_user.username, url(:user, current_user), :method => :post %>.
    <%= delete_button url(:logout_users), "Logout?" %>
  <% else %>
    <%= partial "users/login" %>
  <% end %>
</div>
